.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  .form-container {
    width: 100%;
    max-width: 400px; 
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .custom-styles-select{
    width:100%;
    position:relative;
    margin-top:10px;

  }
  .custom-styles-button{
    margin: 10px;
    color:blue;
  }
  .custom-styles-text{
    position :relative;
    margin-top:10px;
  }
  .heading-styles{
    text-align: center;
    font-family:sans-serif;
    font-style: bold;
  }